<h2>{{action}} {{#if page.editorLabel}}{{page.editorLabel}}{{else}}{{page.name}}{{/if}}</h2>
<form method="POST" action="/{{page.name}}/{{action}}">
	<table>
		{{#each page.elements}}
		<tr class="element">
			<td>{{this.name}}</td><td><input type="text" name="{{this.name}}" value="{{this.default}}"></td>
		</tr>
		{{/each}}
	</table>
	{{#if page.hasText}}
	<textarea name="content" id="md-editor"></textarea>
	<br>
	{{/if}}
	<input type="submit">
</form>