<h2>{{action}} {{#if page.editorLabel}}{{page.editorLabel}}{{else}}{{page.name}}{{/if}}</h2>
<form method="POST" action="/{{page.name}}/{{action}}">
	<table>
		{{#if page.hasText}}
		<tr class="element">
			{{#each page.elements}}
			<td>{{this.name}}</td>
			{{/each}}
		</tr>
		<tr class="value">
			{{#each page.elements}}
			<td><input type="text" name="{{this.name}}" value="{{this.default}}"></td>
			{{/each}}
		</tr>
		{{else}}
			{{#each page.elements}}
			<tr>
				<td>{{this.name}}</td><td><input type="text" name="{{this.name}}" value="{{this.default}}"></td>
			</tr>
			{{/each}}
		{{/if}}
	</table>
	{{#if page.hasText}}
	<textarea name="content" id="md-editor"></textarea>
	<br>
	{{/if}}
	<input type="submit">
</form>