<h2>Actions</h2>
<ul>
	{{#each pages}}
	<li class="page">
		{{#if this.editorLabel}}{{this.editorLabel}}{{else}}{{this.name}}{{/if}}
		<ul>
			<li><a href="/{{this.name}}/new">New</a></li>
			<li><a href="/{{this.name}}/edit">Edit</a></li>
		</ul>
	</li>
	{{/each}}
</ul>